@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 380px;
  min-height: 200px;
  max-height: 600px;
  overflow-y: auto;
  font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
  background: #FAFAF7;
}
